In [3]:
import arff
import pandas as pd

# Load the ARFF file
data = arff.load(open('Dataset_new/ACS Income by State.arff', 'r'))

# Convert the data to a pandas DataFrame
df = pd.DataFrame(data['data'])
df.columns = data['attributes']

# Print the first few rows
df.head()

,"(AGEP, REAL)","(COW, REAL)","(SCHL, REAL)","(MAR, REAL)","(OCCP, REAL)","(POBP, REAL)","(RELP, REAL)","(WKHP, REAL)","(SEX, REAL)","(RAC1P, REAL)","(ST, REAL)","(PINCP, REAL)"
0,18.0,1.0,18.0,5.0,4720.0,13.0,17.0,21.0,2.0,2.0,1.0,1600.0
1,53.0,5.0,17.0,5.0,3605.0,18.0,16.0,40.0,1.0,1.0,1.0,10000.0
2,41.0,1.0,16.0,5.0,7330.0,1.0,17.0,40.0,1.0,1.0,1.0,24000.0
3,18.0,6.0,18.0,5.0,2722.0,1.0,17.0,2.0,2.0,1.0,1.0,180.0
4,21.0,5.0,19.0,5.0,3870.0,12.0,17.0,50.0,1.0,1.0,1.0,29000.0