In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df_50k = pd.read_csv("data/ACS_50k.csv", index_col="id")
df_synth = pd.read_csv("data/RACE_3_Synth_Simon_300.csv", index_col="id")

df_og = df_50k[df_50k.RAC1P == 3]

In [4]:
df_og.describe()

,AGEP,COW,SCHL,MAR,OCCP,POBP,RELP,WKHP,SEX,RAC1P,ST,PINCP
count,373.000000,373.00000,373.000000,373.000000,373.000000,373.000000,373.000000,373.000000,373.000000,373.0,373.000000,373.000000
mean,42.375335,2.33244,17.852547,3.029491,4546.900804,42.597855,2.418231,38.627346,1.482574,3.0,28.565684,41834.863271
std,14.071768,1.78613,2.914042,1.805514,2511.767040,62.259811,4.424017,12.349002,0.500367,0.0,16.796188,50638.257904
min,17.000000,1.00000,1.000000,1.000000,10.000000,2.000000,0.000000,1.000000,1.000000,3.0,1.000000,240.000000
25%,30.000000,1.00000,16.000000,1.000000,2722.000000,12.000000,0.000000,35.000000,1.000000,3.0,6.000000,16000.000000
50%,42.000000,1.00000,18.000000,3.000000,4230.000000,35.000000,0.000000,40.000000,1.000000,3.0,35.000000,30000.000000
75%,53.000000,3.00000,20.000000,5.000000,6130.000000,40.000000,2.000000,40.000000,2.000000,3.0,40.000000,50000.000000
max,77.000000,8.00000,24.000000,5.000000,9810.000000,365.000000,17.000000,99.000000,2.000000,3.0,56.000000,498000.000000

In [4]:
df_synth.describe()

,AGEP,COW,SCHL,MAR,OCCP,POBP,RELP,WKHP,SEX,RAC1P,ST,PINCP
count,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.0,300.000000,300.000000,300.0,300.000000,300.000000
mean,37.796667,2.083333,15.540000,2.260000,3651.100000,20.806667,0.0,43.000000,1.493333,3.0,2.493333,54243.333333
std,8.269418,1.152163,2.668107,1.256049,1593.552159,6.004120,0.0,4.803845,0.500791,0.0,1.039338,18621.851862
min,26.000000,1.000000,12.000000,1.000000,1020.000000,10.000000,0.0,35.000000,1.000000,3.0,1.000000,32000.000000
25%,30.000000,1.000000,13.000000,1.000000,2140.000000,17.000000,0.0,40.000000,1.000000,3.0,2.000000,40750.000000
50%,37.000000,2.000000,15.000000,2.000000,4210.000000,20.000000,0.0,40.000000,1.000000,3.0,2.000000,47000.000000
75%,45.000000,3.000000,18.000000,3.000000,5020.000000,25.000000,0.0,50.000000,2.000000,3.0,3.000000,69500.000000
max,55.000000,5.000000,20.000000,5.000000,6320.000000,50.000000,0.0,50.000000,2.000000,3.0,4.000000,95000.000000

In [5]:
# Explore all feature values present in either datasets

print("Showing all feature values that exist in either dataset")
print("==========================================")

for col in df_synth.columns:
    print(col)
    print("Original:", sorted(df_og[col].unique()))
    print("Synthetic:", sorted(df_synth[col].unique()), "\n")

Showing all feature values that exist in either dataset
==========================================
AGEP
Original: [17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 72.0, 75.0, 77.0]
Synthetic: [26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55]

COW
Original: [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0]
Synthetic: [1, 2, 3, 4, 5]

SCHL
Original: [1.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 24.0]
Synthetic: [12, 13, 14, 15, 16, 17, 18, 19, 20]

MAR
Original: [1.0, 2.0, 3.0, 4.0, 5.0]
Synthetic: [1, 2, 3, 4, 5]

OCCP
Original: [10.0, 20.0, 120.0, 136.0, 205.0, 230.0, 310.0, 410.0, 420.0, 440.0, 520.0, 630.0, 640.0, 710.0, 750.0, 800.0, 910.0, 940.0, 1105.0, 1305.0, 1410.0, 1520.0, 1530.0, 1551.0, 1860.0, 1910.0, 1970.0, 2001.0, 2002.0, 2011.0, 2012.0, 2014.0, 2016.0, 2025.0, 2040.0, 2100.0, 2145.0, 2205.0, 2310.0, 2330.0, 2350.0, 2360.0, 2435.0, 2545.0, 2555.0, 2722.0, 2905.0, 3110.0, 3160.0, 3255.0, 3401.0, 3421.0, 3500.0, 3515.0, 3601.0, 3602.0, 3603.0, 3605.0, 3630.0, 3645.0, 3740.0, 3801.0, 3870.0, 3910.0, 3930.0, 3940.0, 3960.0, 4010.0, 4020.0, 4030.0, 4055.0, 4110.0, 4140.0, 4150.0, 4200.0, 4220.0, 4230.0, 4251.0, 4330.0, 4600.0, 4621.0, 4622.0, 4655.0, 4700.0, 4710.0, 4720.0, 4760.0, 4810.0, 4850.0, 4920.0, 5000.0, 5020.0, 5110.0, 5120.0, 5165.0, 5240.0, 5250.0, 5360.0, 5400.0, 5610.0, 5720.0, 5740.0, 5810.0, 5840.0, 5860.0, 5920.0, 5940.0, 6010.0, 6040.0, 6050.0, 6120.0, 6130.0, 6200.0, 6230.0, 6260.0, 6305.0, 6330.0, 6355.0, 6410.0, 6442.0, 6520.0, 6720.0, 6850.0, 7040.0, 7200.0, 7220.0, 7340.0, 7640.0, 7700.0, 7720.0, 7905.0, 8030.0, 8140.0, 8225.0, 8255.0, 8365.0, 8600.0, 8620.0, 8740.0, 8750.0, 8810.0, 8830.0, 8990.0, 9005.0, 9110.0, 9122.0, 9130.0, 9150.0, 9240.0, 9365.0, 9410.0, 9510.0, 9600.0, 9620.0, 9640.0, 9645.0, 9720.0, 9810.0]
Synthetic: [1020, 1040, 1230, 2130, 2140, 2150, 2230, 2240, 2320, 2940, 3040, 3310, 3320, 3410, 3420, 3520, 4210, 4310, 4320, 4410, 4420, 5020, 5120, 6010, 6320]

POBP
Original: [2.0, 4.0, 5.0, 6.0, 8.0, 9.0, 12.0, 13.0, 16.0, 17.0, 18.0, 19.0, 20.0, 22.0, 23.0, 24.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 46.0, 47.0, 48.0, 49.0, 51.0, 53.0, 55.0, 56.0, 301.0, 303.0, 313.0, 329.0, 365.0]
Synthetic: [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 33, 36, 37, 39, 41, 42, 50]

RELP
Original: [0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0]
Synthetic: [0]

WKHP
Original: [1.0, 4.0, 5.0, 6.0, 8.0, 9.0, 10.0, 12.0, 15.0, 16.0, 18.0, 20.0, 22.0, 24.0, 25.0, 28.0, 30.0, 32.0, 34.0, 35.0, 36.0, 37.0, 38.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 48.0, 50.0, 52.0, 55.0, 60.0, 65.0, 70.0, 80.0, 84.0, 99.0]
Synthetic: [35, 40, 45, 50]

SEX
Original: [1.0, 2.0]
Synthetic: [1, 2]

RAC1P
Original: [3.0]
Synthetic: [3]

ST
Original: [1.0, 2.0, 4.0, 5.0, 6.0, 8.0, 9.0, 12.0, 13.0, 15.0, 16.0, 17.0, 18.0, 20.0, 22.0, 23.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 46.0, 47.0, 48.0, 49.0, 51.0, 53.0, 55.0, 56.0]
Synthetic: [1, 2, 3, 4]

PINCP
Original: [240.0, 280.0, 400.0, 480.0, 620.0, 800.0, 1000.0, 1300.0, 1500.0, 1600.0, 2000.0, 2400.0, 2500.0, 2800.0, 3000.0, 3200.0, 3500.0, 3550.0, 4000.0, 4400.0, 4600.0, 4900.0, 5000.0, 5400.0, 5600.0, 6000.0, 6150.0, 6300.0, 7000.0, 7120.0, 7150.0, 7970.0, 8000.0, 8200.0, 8400.0, 8500.0, 8700.0, 9000.0, 9300.0, 9700.0, 10000.0, 10400.0, 11200.0, 11300.0, 11400.0, 12000.0, 12400.0, 12500.0, 12800.0, 13000.0, 13500.0, 13600.0, 13800.0, 13900.0, 14000.0, 14100.0, 14300.0, 15000.0, 15200.0, 15600.0, 16000.0, 16200.0, 16700.0, 17000.0, 17500.0, 17800.0, 18000.0, 18100.0, 18300.0, 18700.0, 19000.0, 19300.0, 19400.0, 20000.0, 20400.0, 20800.0, 21000.0, 22000.0, 22500.0, 22800.0, 23000.0, 23200.0, 23500.0, 23800.0, 24000.0, 24300.0, 24350.0, 24500.0, 24600.0, 25000.0, 25200.0, 25500.0, 26000.0, 26500.0, 27000.0, 27400.0, 27700.0, 27800.0, 27900.0, 28000.0, 28800.0, 29000.0, 29350.0, 29450.0, 30000.0, 31000.0, 31400.0, 31500.0, 32000.0, 32950.0, 33000.0, 33700.0, 34000.0, 34400.0, 35000.0, 35600.0, 35700.0, 36000.0, 37000.0, 37500.0, 38000.0, 38400.0, 39000.0, 39500.0, 40000.0, 40300.0, 41600.0, 42000.0, 43000.0, 44000.0, 45000.0, 45200.0, 45400.0, 46000.0, 46700.0, 46800.0, 47000.0, 47500.0, 48000.0, 49000.0, 50000.0, 51700.0, 52000.0, 52500.0, 53000.0, 53500.0, 54000.0, 55000.0, 56000.0, 57000.0, 57500.0, 58000.0, 58300.0, 58600.0, 58800.0, 59000.0, 60000.0, 61010.0, 62000.0, 64000.0, 65000.0, 66000.0, 67000.0, 68000.0, 68400.0, 68500.0, 70000.0, 71600.0, 74000.0, 75000.0, 80000.0, 80330.0, 84000.0, 85000.0, 85700.0, 87000.0, 88000.0, 90000.0, 92000.0, 94000.0, 95000.0, 97500.0, 98000.0, 100000.0, 103000.0, 105000.0, 107000.0, 110000.0, 112000.0, 113000.0, 121000.0, 124000.0, 125000.0, 139800.0, 141000.0, 150000.0, 151504.0, 155000.0, 162800.0, 174000.0, 229000.0, 268000.0, 425600.0, 435000.0, 498000.0]
Synthetic: [32000, 33000, 34000, 35000, 36000, 37000, 38000, 39000, 40000, 41000, 42000, 43000, 44000, 45000, 46000, 47000, 48000, 49000, 50000, 51000, 52000, 53000, 54000, 55000, 56000, 57000, 58000, 59000, 61000, 62000, 65000, 68000, 69000, 71000, 72000, 73000, 74000, 75000, 76000, 77000, 78000, 79000, 81000, 82000, 84000, 85000, 86000, 87000, 88000, 89000, 90000, 91000, 92000, 93000, 95000]

In [6]:
# Explore the feature values that occurr in one of the datasets, but not the other

print("Showing feature values that exist exclusively in either dataset")
print("==========================================")

for col in df_synth.columns:
    og_vals = set(df_og[col].unique())
    synth_vals = set(df_synth[col].unique())
    intersect = og_vals & synth_vals
    print(col)
    print("Unique original values:", og_vals - intersect)
    print("Unique synth values:", synth_vals - intersect, "\n")

Showing feature values that exist exclusively in either dataset
==========================================
AGEP
Unique original values: {17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 43.0, 51.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 72.0, 75.0, 77.0}
Unique synth values: set()

COW
Unique original values: {8.0, 6.0, 7.0}
Unique synth values: set()

SCHL
Unique original values: {1.0, 11.0, 21.0, 22.0, 24.0}
Unique synth values: set()

MAR
Unique original values: set()
Unique synth values: set()

OCCP
Unique original values: {520.0, 10.0, 4621.0, 4110.0, 1551.0, 4622.0, 3601.0, 3602.0, 3603.0, 20.0, 3605.0, 7700.0, 9240.0, 2040.0, 7200.0, 8225.0, 8740.0, 3110.0, 7720.0, 4140.0, 5165.0, 8750.0, 4655.0, 3630.0, 2100.0, 7220.0, 4150.0, 6200.0, 3645.0, 8255.0, 6720.0, 1105.0, 9810.0, 6230.0, 3160.0, 5720.0, 4700.0, 2145.0, 4710.0, 4200.0, 8810.0, 5740.0, 4720.0, 6260.0, 630.0, 5240.0, 120.0, 4220.0, 8830.0, 640.0, 5250.0, 4230.0, 136.0, 9365.0, 4760.0, 4251.0, 3740.0, 2205.0, 6305.0, 2722.0, 7340.0, 8365.0, 5810.0, 3255.0, 6330.0, 6850.0, 9410.0, 710.0, 4810.0, 205.0, 5840.0, 6355.0, 3801.0, 7905.0, 5860.0, 230.0, 4330.0, 750.0, 5360.0, 4850.0, 2310.0, 9720.0, 6410.0, 5400.0, 1305.0, 2330.0, 3870.0, 8990.0, 800.0, 5920.0, 9510.0, 6442.0, 9005.0, 2350.0, 5940.0, 310.0, 4920.0, 2360.0, 1860.0, 3910.0, 3401.0, 2905.0, 3930.0, 3421.0, 8030.0, 3940.0, 1910.0, 3960.0, 6520.0, 7040.0, 9600.0, 1410.0, 2435.0, 5000.0, 910.0, 9620.0, 9110.0, 8600.0, 6040.0, 410.0, 9122.0, 6050.0, 420.0, 9640.0, 4010.0, 9130.0, 940.0, 9645.0, 8620.0, 3500.0, 1970.0, 4020.0, 440.0, 3515.0, 9150.0, 4030.0, 8140.0, 2001.0, 2002.0, 4055.0, 7640.0, 2011.0, 2012.0, 2014.0, 2016.0, 6120.0, 2025.0, 5610.0, 1520.0, 2545.0, 6130.0, 5110.0, 4600.0, 1530.0, 2555.0}
Unique synth values: {2240, 3520, 4420, 1020, 1230, 1040, 2320, 2130, 3410, 4310, 2140, 3420, 4320, 3040, 2150, 3310, 6320, 4210, 2230, 3320, 4410, 2940}

POBP
Unique original values: {2.0, 4.0, 5.0, 6.0, 8.0, 9.0, 32.0, 34.0, 35.0, 38.0, 40.0, 301.0, 46.0, 303.0, 47.0, 48.0, 49.0, 51.0, 53.0, 55.0, 56.0, 313.0, 329.0, 365.0}
Unique synth values: {33, 10, 11, 42, 14, 15, 50, 21, 25}

RELP
Unique original values: {1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0}
Unique synth values: set()

WKHP
Unique original values: {1.0, 4.0, 5.0, 6.0, 8.0, 9.0, 10.0, 12.0, 15.0, 16.0, 18.0, 20.0, 22.0, 24.0, 25.0, 28.0, 30.0, 32.0, 34.0, 36.0, 37.0, 38.0, 41.0, 42.0, 43.0, 44.0, 46.0, 48.0, 52.0, 55.0, 60.0, 65.0, 70.0, 80.0, 84.0, 99.0}
Unique synth values: set()

SEX
Unique original values: set()
Unique synth values: set()

RAC1P
Unique original values: set()
Unique synth values: set()

ST
Unique original values: {5.0, 6.0, 8.0, 9.0, 12.0, 13.0, 15.0, 16.0, 17.0, 18.0, 20.0, 22.0, 23.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 46.0, 47.0, 48.0, 49.0, 51.0, 53.0, 55.0, 56.0}
Unique synth values: {3}

PINCP
Unique original values: {38400.0, 12800.0, 64000.0, 6150.0, 8200.0, 21000.0, 24600.0, 139800.0, 20000.0, 11300.0, 105000.0, 27700.0, 19000.0, 1600.0, 125000.0, 39500.0, 13900.0, 18000.0, 61010.0, 9300.0, 103000.0, 17500.0, 60000.0, 124000.0, 34400.0, 17000.0, 4600.0, 620.0, 46700.0, 25200.0, 12400.0, 37500.0, 16000.0, 80000.0, 425600.0, 41600.0, 28800.0, 3200.0, 11400.0, 229000.0, 45200.0, 15000.0, 27800.0, 57500.0, 6300.0, 100000.0, 23200.0, 10400.0, 29350.0, 121000.0, 31400.0, 14000.0, 18100.0, 32950.0, 13500.0, 85700.0, 13000.0, 141000.0, 8400.0, 98000.0, 46800.0, 12500.0, 97500.0, 12000.0, 268000.0, 58600.0, 24300.0, 2800.0, 15600.0, 240.0, 23800.0, 27900.0, 53500.0, 27400.0, 29450.0, 31500.0, 18700.0, 22800.0, 10000.0, 35600.0, 14100.0, 1300.0, 52500.0, 280.0, 31000.0, 5400.0, 24350.0, 13600.0, 800.0, 7970.0, 4900.0, 9000.0, 30000.0, 4400.0, 68400.0, 94000.0, 8500.0, 435000.0, 16700.0, 8000.0, 20800.0, 29000.0, 16200.0, 498000.0, 7000.0, 45400.0, 15200.0, 28000.0, 2400.0, 19300.0, 113000.0, 40300.0, 6000.0, 70000.0, 35700.0, 27000.0, 155000.0, 18300.0, 112000.0, 26500.0, 17800.0, 5000.0, 47500.0, 26000.0, 400.0, 68500.0, 25500.0, 4000.0, 33700.0, 25000.0, 3500.0, 58800.0, 174000.0, 110000.0, 71600.0, 24500.0, 20400.0, 3000.0, 67000.0, 58300.0, 24000.0, 11200.0, 2500.0, 19400.0, 80330.0, 23500.0, 66000.0, 7120.0, 151504.0, 2000.0, 23000.0, 14300.0, 1500.0, 3550.0, 5600.0, 480.0, 22500.0, 9700.0, 13800.0, 1000.0, 7150.0, 22000.0, 162800.0, 150000.0, 51700.0, 107000.0, 8700.0}
Unique synth values: {72000, 76000, 71000, 69000, 41000, 73000, 89000, 61000, 93000, 77000, 81000, 78000, 82000, 51000, 86000, 91000, 79000}

In [9]:
# Explore feature distributions for both datasets

# Function to create side-by-side bar plots for each feature
def plot_side_by_side(original_df, synthetic_df, feature):
    fig, axes = plt.subplots(1, 2, figsize=(18, 6), sharey=True)
    
    # Calculate percentages for original data
    original_counts = original_df[feature].value_counts(normalize=True) * 100
    original_counts = original_counts.sort_index()
    
    # Calculate percentages for synthetic data
    synthetic_counts = synthetic_df[feature].value_counts(normalize=True) * 100
    synthetic_counts = synthetic_counts.sort_index()
    
    # Plot original data percentages
    sns.barplot(x=original_counts.index, y=original_counts.values, ax=axes[0])
    axes[0].set_title(f'Original Data: Distribution of {feature} (Percentage)')
    axes[0].set_xlabel(feature)
    axes[0].set_ylabel('Percentage')
    
    # Plot synthetic data percentages
    sns.barplot(x=synthetic_counts.index, y=synthetic_counts.values, ax=axes[1])
    axes[1].set_title(f'Synthetic Data: Distribution of {feature} (Percentage)')
    axes[1].set_xlabel(feature)
    axes[1].set_ylabel('Percentage')
    
    plt.show()

In [ ]:
# Plot distributions for each feature side-by-side
for feature in df_og.columns:
    if feature not in ['id']:
        plot_side_by_side(df_og, df_synth, feature)

In [45]:
df_og_intersect = df_og.copy()
df_synth_intersect = df_synth.copy()

for col in df_synth.columns:
    og_vals = set(df_og[col].unique())
    og_vals = {int(x) for x in og_vals}
    synth_vals = set(df_synth[col].unique())
    synth_vals = {int(x) for x in synth_vals}
    intersect = og_vals & synth_vals
    # print(intersect)
    # print(og_vals)
    # print(synth_vals)

    df_og_intersect[col] = df_og_intersect[col].astype(int)
    df_synth_intersect[col] = df_synth_intersect[col].astype(int)

    # print(df_og_intersect[col].describe())
    # print(df_synth_intersect[col].describe())

    df_og_intersect = df_og_intersect[df_og_intersect[col].isin(intersect)]
    df_synth_intersect = df_synth_intersect[df_synth_intersect[col].isin(intersect)]


df_synth_intersect.shape

# # Plot distributions for each feature side-by-side
# for feature in df_og_intersect.columns:
#     if feature not in ['id']:
#         plot_side_by_side(df_og_intersect, df_synth_intersect, feature)

(43, 12)

In [9]:
df_sampled = df.sample(n=50000)

In [13]:
df_sampled = df_sampled.sort_index()

In [14]:
df_sampled.to_csv("test.csv")